[submodule "lib/SMrTa"]
	path = lib/SMrTa
	url = https://github.com/victoria-tuck/SMrTa
[submodule "lib/pololu-3pi-2040-robot"]
	path = lib/pololu-3pi-2040-robot
	url = https://github.com/pololu/pololu-3pi-2040-robot.git
