[submodule "lib/SMrTa"]
	path = lib/SMrTa
	url = https://github.com/victoria-tuck/SMrTa
[submodule "lib/pololu-3pi-2040-robot"]
	path = lib/pololu-3pi-2040-robot
	url = https://github.com/pololu/pololu-3pi-2040-robot.git
[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/MAPF_PC"]
	path = lib/MAPF_PC
	url = https://github.com/HanZhang39/MAPF-PC
