ble-serial==2.8.0
bleak==0.22.3
coloredlogs==15.0.1
humanfriendly==10.0
pyreadline3==3.5.4
pyserial==3.5
winrt-runtime==2.3.0
winrt-windows-devices-bluetooth==2.3.0
winrt-windows-devices-bluetooth-advertisement==2.3.0
winrt-windows-devices-bluetooth-genericattributeprofile==2.3.0
winrt-windows-devices-enumeration==2.3.0
winrt-windows-foundation==2.3.0
winrt-windows-foundation-collections==2.3.0
winrt-windows-storage-streams==2.3.0
